.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-container {
    background:  #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .body {
    margin-bottom: 20px;
  }

  .body label {
    display: block;
    margin-bottom: 10px;
  }

  .body input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 5px;
    box-sizing: border-box;
  }
  
  .footer {
    display: flex;
    justify-content: flex-end;
  }
  
  .footer button {
    margin-left: 10px;
  }