.chatroom-box {
    background-color: #3B3B3B;
    flex: 3;
    padding: 20px;
}

.chatroom-box.shifted {
    margin-right: 300px;
}

.chat-content-container {
    display: flex;
    flex-direction: row;
}

.chat-messages-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-name-and-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-settings-button {
    font-size: 16px;
    background-color: #2e2e2e;
    color: white;
}

.messages {
    overflow-y: scroll;
    height: 70vh;
}

.member-panel-wrapper {
    flex: 1
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sender-name {
    font-weight: bold;
}

.delete-chat-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-chat-button:hover {
    background-color: #c0392b;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.user-input {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
}

.user-input input {
    flex-grow: 1;
}

.user-input button {
    font-size: 16px;
}