.chatroom-box {
    background-color: #3B3B3B;
    flex: 3;
    padding: 20px;
}

.chatroom-box.shifted {
    margin-right: 300px;
}

.chat-content-container {
    display: flex;
    flex-direction: row;
}

.chat-messages-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.chat-name-and-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat-settings-button {
    font-size: 16px;
    background-color: #2e2e2e;
    color: white;
}

.message {
    padding: 1px;
}

.messages {
    overflow-y: scroll;
    height: 70vh;
}

.messages::-webkit-scrollbar {
    width: 12px; 
}

.messages::-webkit-scrollbar-track {
    background: #2e2e2e; /* track */
}

.messages::-webkit-scrollbar-thumb {
    background-color: #5a5a5a; /* thumb */
    border-radius: 20px; /* roundness thumb */
    border: 3px solid #2e2e2e; /* padding thumb */
}

.messages::-webkit-scrollbar-thumb:hover {
    background-color: #4a4a4a; 
}

.member-panel-wrapper {
    flex: 1
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sender-name {
    font-weight: bold;
}

.delete-chat-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 2px 20px;
    border-radius: 0px; /* round edges - more is rounder*/
    cursor: pointer;
}

.delete-chat-button:hover {
    background-color: #c0392b;
}

.dropdown-container {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}

.user-input {
    display: flex;
    align-items: center;
    background-color: #2e2e2e;
}

.user-input input {
    flex-grow: 1;
}

.user-input button {
    font-size: 16px;
    background-color: #2e2e2e;
    color: white;
}

.sender-name {
    font-size: 17px;
    color: wheat;
}