.chatroom-box {
    background-color: #3B3B3B;
    flex: 3;
    padding: 20px;
}

.chatroom-box.shifted {
    margin-right: 300px;
}

.chat-content-container {
    display: flex;
    flex-direction: row;
}

.chat-messages-wrapper {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.member-panel-wrapper {
    flex: 1
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.sender-name {
    font-weight: bold;
}

.delete-chat-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-chat-button:hover {
    background-color: #c0392b;
}