.main-body {
    background-color: #3B3B3B;
    flex: 10;
    padding: 20px;
    height: 80vh;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.datetime {
    color: gray;
}