.main-body {
    background-color: #3B3B3B;
    flex: 10;
    padding: 20px;
    height: 80vh;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.datetime {
    color: gray;
}

.delete-chat-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-chat-button:hover {
    background-color: #c0392b;
}
