.sliding-panel {
    position: fixed;
    right: -250px; /* Adjust based on the width of the panel */
    width: 250px; /* Adjust as needed */
    height: 70vh;
    background: #2e2e2e;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    transition: right 0.3s ease-out;
    overflow-y: scroll;
    color: wheat;
}

.sliding-panel::-webkit-scrollbar {
    width: 8px; 
}

.sliding-panel::-webkit-scrollbar-track {
    background: #3b3b3b; /* track */
}

.sliding-panel::-webkit-scrollbar-thumb {
    background-color: #2e2e2e; /* thumb */
    border-radius: 12px; /* roundness thumb */
    border: 2px solid #3b3b3b; /* padding thumb */
}

.sliding-panel::-webkit-scrollbar-thumb:hover {
    background-color: black; 
}

.sliding-panel.open {
    position: relative;
    right: 0px;
}